#title {
    background-color: #ff4c68;
    color: #fff;
}
h1 {
    font-family:  'Montserrat', sans-serifs;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
.container-fluid {
    padding: 7% 15%;
}
body {
    font-family: "Montserrat";
}
/* Navigation Bar */

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar {
    padding-bottom: 4.5rem;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: lighter;
}
/* Download Button */
.download-button {
    margin: 5% 3% 5% 0;
}
/* Title-Image*/
.title-img {
    width: 60%;
    transform: rotate(25deg);
}

/*Feature section*/

#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

h3{
    font-family: "Montserrat";
    font-size: 1.25rem;
    font-weight: 900;
}

p{
    color: #8f8f8f;
}

.icon{
    margin-bottom: 1rem;
    color: #ef8172;
}

.icon:hover{
    color: #ff4c68;
}

/*Testimonials*/
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
h2{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/*Press Section*/
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/*Pircing sectiom*/

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}

/*media query*/
@media(max-width:1028px){
    #title{
        text-align: center;
    }
    .title-img{
        transform: rotate(0);
    }
}

/*Call to action*/
#cta{
    background-color: #ff4c68;
    font-family: "Montserrat";
    font-size: 3.5 rem;
    text-align: center;
    color: #fff;
    line-height: 1.5;
}

.white-section{
    background-color: #fff;
    text-align: center;
}